extends ../index

block main-content
    .container
        .jumbotron
            h1 Mobile Devices Store
            h2 Find your next gadget here!
    .container
        .panel.panel-info
            .panel-heading
                h3.panel-title Details About Our Store
            .panel-body.text-center
                | The Store is a leading provider of technology products, services and solutions.
                | The company offers expert service at an unbeatable price more than 1.5 billion times
                | a year to the consumers, small business owners and educators who visit our stores.
                | The company has operations in the U.S. where more than 70 percent of the population lives within
                | 15 minutes of one of our stores.
