extends ../index

block main-content
    .container
        .jumbotron
            h2 Our Best Selling Wearables
    .container
        .row
            .col-sm-4.col-lg-4.col-md-4
                .thumbnail
                    img(src='http://gsmshell.com/blog/wp-content/uploads/2014/10/Apple-Watch-UI.jpg', alt='Apple Watch')
                    .caption
                        h4.pull-right $249.00
                        h4
                            a(href='/home') Apple Watch
                        p
                            | Apple Watch is an incredibly customizable timepiece, has entirely new ways to stay in touch, and is a comprehensive health and fitness companion.
            .col-sm-4.col-lg-4.col-md-4
                .thumbnail
                    img(src='http://cdn.shopify.com/s/files/1/0996/2982/products/Gear2Gld_600x600_xlarge_s1.jpg?v=1442631924', alt='Samsung Gear 2 Smartwatch')
                    .caption
                        h4.pull-right $252.99
                        h4
                            a(href='/home') Samsung Gear 2 Smartwatch
                        p
                            | Pair this stylish watch with select Samsung phones or tablets to make calls, fire off texts and receive notifications right from your wrist.
            .col-sm-4.col-lg-4.col-md-4
                .thumbnail
                    img(src='http://dri2.img.digitalrivercontent.net/Storefront/Company/msintl/images/DO_NOT_USE-Deimos/en-INTL-Deimos-NS-MU5-00001/en-INTL-L-Deimos-NS-MU5-00001-RM1-mnco.jpg', alt='Microsoft Band 2')
                    .caption
                        h4.pull-right $249.99
                        h4
                            a(href='/home') Microsoft Band 2
                        p
                            | Keep track of your health and fitness goals throughout the day by monitoring your heart rate, steps taken, calories burned, sleep quality, hours slept and other helpful metrics

