li, a {
    font-size: 24px;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}
ul ul {
    display: none;    
}
    ul li ul li {
        color: darkgray;
    }
    ul li:hover ul {
        display: block;
    }

    ul li a:hover {
        text-decoration: underline;
    }