<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ output extension=".cs" #>
namespace Task02
{
	using System;

	public class SayHelloToPeter
	{
		static void Main()
		{
			<#		
			string[] greetings = new string[]{"Hello", "Bonjour", "Aloha", "Kon-nichiwa", "Ola"};	
			string name = "Peter"; 
			for (int i = 0; i < greetings.Length; i++)
			{ #>
			Console.WriteLine("<#=greetings[i]#>, <#= name #>!");
			<# 
			} #>
		}
	}
}
