@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">This is a very simple Application, which uses the Telerik Academy Db</p>
    <a href="https://github.com/TelerikAcademy/Databases/blob/master/07.%20Intro%20to%20SQL/Demo/Create-TelerikAcademy-Database-SQL-Script.sql">Link to the script ganarating this database</a>
</div>

@section Advertisment {
    <div class="jumbotron">
        <div class="row text-center">
            <div class="col-md-4 col-md-offset-4">
                <img src="http://abovethefilm.com/wp-content/uploads/2015/06/star-wars-7-titel.jpg" alt="StarWars Logo" class="img-responsive center-block" />
                <p>This is a section :)</p>
            </div>
        </div>
    </div>
}
