<div class="panel-body">
    <table class="table table-bordered table-striped">
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Created On</th>
            <th class="text-center">Total Users</th>
            <th class="text-center">License</th>
            <th class="text-center">Link</th>
        </tr>
        <tr ng-repeat="project in vm.myProjects">
            <td class="text-center">
                {{project.Name}}
            </td>
            <td class="text-center">{{project.CreatedOn | beautifulDate}}</td>
            <td class="text-center">{{project.TotalUsers}}</td>
            <td class="text-center" ng-show="!vm.isAuthenticated">
                {{project.License}}
            </td>
            <td ng-show="vm.isAuthenticated" class="text-center">
                <img ng-if="project.License == 'GPL'" src="/pic/3.png" alt="picture" />
                <img ng-if="project.License == 'MIT'" src="/pic/1.png" alt="picture" />
                <img ng-if="project.License == 'Apache'" src="/pic/2.png" alt="picture" />
                <img ng-if="project.License == 'BSD'" src="/pic/4.png" alt="picture" />
                <img ng-if="project.License == 'Mozilla Public License'" src="/pic/5.png" alt="picture" />
            </td>
            <td class="text-center"><a href="/projects/{{project.Id}}">Link</a></td>
        </tr>
    </table>
</div>