<div class="row">
    <div class="col-md-6 col-md-offset-3" ng-if="vm.games.length > 0">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                Available Games
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th class="text-center">
                            Game Id
                        </th>
                        <th class="text-center">
                            Opponent
                        </th>
                        <th class="text-center">
                            Join
                        </th>
                    </tr>
                    <tr ng-repeat="game in vm.games">
                        <td class="text-center">
                            {{game.Id}}
                        </td>
                        <td class="text-center">
                            {{game.FirstPlayer.UserName | userName}}
                        </td>
                        <td class="text-center">
                            <button data="{{game.Id}}" ng-click="vm.joinGame(game.Id)" class="btn btn-primary">Join Game</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3 text-center" ng-if="!vm.games.length">
        <h2>No Available Games</h2> 
    </div>
</div>