<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Tic Tac Toe Game</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" ng-if="vm.globallySetCurrentUser">
                <li><a href="/games/create">Create Game</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-if="vm.globallySetCurrentUser">
                <li><a href="/games/join">Join A Game</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-if="!vm.globallySetCurrentUser">
                <li><a href="/identity/login">Login</a></li>
                <li><a href="/identity/register">Register</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-if="vm.globallySetCurrentUser">
                <li><a href="/identity/profile">Hi, {{vm.globallySetCurrentUser.Email | userName}} !</a></li>
                <li><a href="/identity/change">Change Password</a></li>
                <li><a href="/" ng-click="vm.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>