@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homework Overview</h1>
    <p>Create a database for storing information about Movies – Title, Director, Year, Leading Male Role, Leading Female Role and their Age, Studio, Studio Address.</p>
    <p>Create Controllers and Actions for performing CRUD operations over the database.</p>
    <p>Create an application that visualize and do operations with your data via Ajax.</p>
</div>
