extends ../index

block main-content
    .container
        .jumbotron
            h2 Our Best Selling Tablets
    .container
        .row
            .col-sm-4.col-lg-4.col-md-4
                .thumbnail
                    img(src='http://www.pvjstores.com/wp-content/uploads/2016/01/Apple-iPad-mini-4-PVJ-Stores_3.jpg', alt='iPad')
                    .caption
                        h4.pull-right $299.00
                        h4
                            a(href='/home') Apple - iPad mini 4
                        p
                            | iPad mini 4 has a gorgeous 7.9-inch Retina display, yet it's only 6.1mm thin and weighs just 0.65 pounds, making it small enough to hold in one hand.
            .col-sm-4.col-lg-4.col-md-4
                .thumbnail
                    img(src='http://dri1.img.digitalrivercontent.net/Storefront/Company/msintl/images/English/en-INTL-Surface-Pro-3-MQ2-00001/Spin/en-INTL-Surface-Pro-3-MQ2-00001-SP04.jpg', alt='Microsoft tablet')
                    .caption
                        h4.pull-right $579.99
                        h4
                            a(href='/home') Microsoft - Surface Pro 3
                        p
                            | With a functional HD touch screen and integrated kickstand, you can easily relax and watch a movie, or use the Surface Pen (not included) to mark up documents and make edits to your big presentation.
            .col-sm-4.col-lg-4.col-md-4
                .thumbnail
                    img(src='http://images.vcpost.com/data/images/full/65289/samsung-galaxy-tab-s2.jpg?w=590', alt='samsung tab s2')
                    .caption
                        h4.pull-right $549.99
                        h4
                            a(href='/home') Samsung - Galaxy Tab S2
                        p
                            | This tablet features a large Super AMOLED touch screen with adaptive display technology, so videos and Web pages come alive in crisp, clear detail

